
/** Additional page styling **/

.page-laz {
  	background-color: #f8bd9b;
}

.page-pri {
  	background-color: #c3af9c;
}

.page-nge {
  	background-color: #f4e5ce;
}

.page-3m {
  	background-color: #f5d6d8;
}

.page-hcl {
  	background-color: #bdddf4;
}

.page-rev {
  	background-color: #ccc;
}

.page-ast {
  	background-color: #eee;
}

.page-int {
  	background-color: #c1ced9;
}

.page-wwf {
  	background-color: #e6e6e6;
}

.page-msf2 {
  	background-color: #f7cece;
}

.page-hf {
  	background-color: #ceebed;
}

.page-jab {
  	background-color: #ddd;
}

.page-rwg {
	background-color: #feedee;
}

.page-bwg {
	background-color: #d0e9d7;
}

.page-hv {
	background-color: #e2f8f6;
}

.page-mdy {
	background-color: #e7d9ee;
}

.page-gic2 {
	background-color: #eef8fa;
}

.page-moo {
	background-color: #08a7e2;
}

.page-val {
	background-color: #9fc4da;
}

.page-wes {
	background-color: #fbf9e3;
}


